In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
#calculate central x and central y in ArcGIS first (float)
Union=gpd.read_file("C:/Users/huangt/Documents/TERRESTRIAL_MAMMALS_201908/mayaro_d_u.shp")

In [3]:
#To count the number of species, add a column "count" with value 1.
Union['count']=1
Union.head()

,OBJECTID,FID_mayaro,binomial,Shape_Leng,Shape_Area,central_x,central_y,x_y,geometry,count
0,1,1,Alouatta seniculus ssp. juara,15.049858,3.666595e-04,-73.489894,10.016459,-736.108526,(POLYGON ((-72.62509155323255 11.7254028324748...,1
1,2,3,Caluromys philander,2.271565,7.941501e-02,-64.041431,10.993657,-704.049494,(POLYGON ((-63.84236526484506 11.1189146037260...,1
2,3,5,Coendou prehensilis,0.110053,4.871119e-10,-48.688368,-26.691346,1299.558098,(POLYGON ((-48.56689728727991 -26.193792134299...,1
3,4,6,Dasyprocta leporina,1.991466,3.164563e-08,-51.509508,-2.836572,146.110453,(POLYGON ((-68.39157867541547 11.1392984393715...,1
4,5,7,Dasypus novemcinctus,216.582417,2.756724e+02,-95.818631,31.967665,-3063.097878,(POLYGON ((-97.75964497593486 22.9203653376902...,1

In [4]:
#count the number of unique x_y
Union_ct=Union.groupby('x_y')['binomial'].nunique()
print(type(Union_ct))
print (Union_ct)

<class 'pandas.core.series.Series'>
x_y
-3063.097878    1
-2175.963709    2
-1730.910842    3
-1724.246601    2
-1540.283625    2
-1535.006164    4
-1534.317099    2
-1532.697857    3
-1532.557155    3
-1521.367071    3
-1472.755048    4
-1052.219178    5
-808.973289     5
-798.946321     5
-795.676592     3
-794.537876     4
-792.630518     5
-792.235910     2
-790.404324     4
-788.495070     3
-784.364752     3
-781.318749     2
-776.833551     4
-764.509132     5
-742.998676     6
-736.108526     1
-718.633583     4
-714.278851     7
-710.760561     3
-708.350239     5
               ..
 1333.174850    6
 1338.476520    3
 1339.864786    2
 1356.921490    6
 1361.644951    1
 1377.646688    3
 1405.667701    5
 1449.832749    4
 1453.541939    6
 1454.978213    5
 1480.086393    5
 1493.505127    5
 1504.019804    4
 1508.095038    5
 1524.402864    2
 1526.440496    4
 1586.689335    3
 1592.995608    2
 1599.660867    2
 1607.253832    2
 1622.169867    4
 1630.510881    3
 1639.511597    3
 1700.508257    2
 1712.838317    1
 1722.365921    4
 1749.661480    3
 1850.917195    2
 1851.902423    2
 2211.640840    1
Name: binomial, Length: 686, dtype: int64

In [5]:
Union_ct_df = Union_ct.to_frame()
print(Union_ct_df)
print (type(Union_ct_df))

              binomial
x_y
-3063.097878         1
-2175.963709         2
-1730.910842         3
-1724.246601         2
-1540.283625         2
-1535.006164         4
-1534.317099         2
-1532.697857         3
-1532.557155         3
-1521.367071         3
-1472.755048         4
-1052.219178         5
-808.973289          5
-798.946321          5
-795.676592          3
-794.537876          4
-792.630518          5
-792.235910          2
-790.404324          4
-788.495070          3
-784.364752          3
-781.318749          2
-776.833551          4
-764.509132          5
-742.998676          6
-736.108526          1
-718.633583          4
-714.278851          7
-710.760561          3
-708.350239          5
...                ...
 1333.174850         6
 1338.476520         3
 1339.864786         2
 1356.921490         6
 1361.644951         1
 1377.646688         3
 1405.667701         5
 1449.832749         4
 1453.541939         6
 1454.978213         5
 1480.086393         5
 1493.505127         5
 1504.019804         4
 1508.095038         5
 1524.402864         2
 1526.440496         4
 1586.689335         3
 1592.995608         2
 1599.660867         2
 1607.253832         2
 1622.169867         4
 1630.510881         3
 1639.511597         3
 1700.508257         2
 1712.838317         1
 1722.365921         4
 1749.661480         3
 1850.917195         2
 1851.902423         2
 2211.640840         1

[686 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [6]:
Union_ct_df.to_csv('C:/Users/huangt/Documents/TERRESTRIAL_MAMMALS_201908/mayaro_heat.csv')